[Desktop Entry]
Encoding=UTF-8
Name=Slackware64 Current ChangeLog
Type=Link
URL=https://mirrors.slackware.com/slackware/slackware64-14.2/ChangeLog.txt
Icon=text-html
